Package: com.jarnooow.SwredderBoot
Version: 1.0
Depends: com.anemonetheming.anemone
Architecture: iphoneos-arm
Maintainer: Jarnooow <jarno1995@gmail.com>
Section: Bootlogos
Description: A BootLogo specifically made for Swredder! 
Author: Jarnooow <jarno1995@gmail.com>
Name: SwredderBoot
